<style>
  .hz__clipText_{{ section.id }}{
    padding-top: {{section.settings.ptd}}px;
    padding-bottom: {{section.settings.pbd}}px;
    padding-left: {{section.settings.plrd}}px;
    padding-right: {{section.settings.plrd}}px;
    {% if section.settings.bg_img != blank %}
      background: url('{{ section.settings.bg_img |img_url: '4000x'}}');
    {% else %}
      background: {{section.settings.bg_clr}};
    {% endif %}
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hz__clipText__title_{{ section.id }}{
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: {{section.settings.sec_clr}};
    color: {{section.settings.pri_clr}}
  }
  @media only screen and (max-width: 768px){
    .hz__clipText_{{ section.id }}{
      padding-top: {{section.settings.ptm}}px;
      padding-bottom: {{section.settings.pbm}}px;
      padding-left: {{section.settings.plrm}}px;
      padding-right: {{section.settings.plrm}}px;
    }
  }
</style>

<section class="hz__clipText hz__clipText_{{ section.id }}">
  <div class="hz__clipTextInner {{ section.settings.content_width }}">
    <h1 class="hz__clipText__title hz__clipText__title_{{ section.id }}">
      {{ section.settings.title }}
    </h1>
    <p class="hz__clipText__text" style="color: {{ section.settings.sec_clr }}">
      {{ section.settings.text }}
    </p>
  </div>
</section>

{% schema %}
{
  "name": "Clip Text",
  "settings": [
    {
      "type": "header",
      "content":  "Section Content Width"
    },
    {
      "type": "select",
      "label": "Content Width",
      "id": "content_width",
      "options": [
        {
          "label": "Large",
          "value": "hz__contentWidth_pri"
        },
        {
          "label": "Medium",
          "value": "hz__contentWidth_sec"
        },
        {
          "label": "Small",
          "value": "hz__contentWidth_ter"
        }
      ],
      "default":"hz__contentWidth_sec"
    },
    {
      "type": "header",
      "content": "Padding Controls - Desktop"
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "ptd",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "pbd",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "label": "Padding Left & Right",
      "id": "plrd",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40
    },
    {
      "type": "header",
      "content": "Padding Controls - Mobile"
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "ptm",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "pbm",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "label": "Padding Left & Right",
      "id": "plrm",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 45
    },
    {
     "type": "header",
     "content": "Section Background",
     },
     {
      "type": "image_picker",
      "label": "Background Image",
      "id": "bg_img"
    },
    {
      "type": "color_background",
      "label": "Background Color",
      "id": "bg_clr",
      "default":"transparent"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default":"Title"
    },
    {
      "type": "text",
      "label": "Subtext",
      "id": "text",
      "default": "Subtext"
    },
    {
      "type": "color",
      "label": "Primary Color",
      "id": "pri_clr",
      "default":"#fff"
    },
    {
      "type": "color",
      "label": "Secondary Color",
      "id": "sec_clr",
      "default":"#000"
    },
  ],
  "presets": [
    {
      "name": "HZ Clip Text",
      "category": "text"
    }
  ]
}
{% endschema %}
