<style>
  .hz__footer_{{ section.id }}{
    padding-top: {{section.settings.ptd}}px;
    padding-bottom: {{section.settings.pbd}}px;
    padding-left: {{section.settings.plrd}}px;
    padding-right: {{section.settings.plrd}}px;
    {% if section.settings.bg_img != blank %}
      background: url('{{ section.settings.bg_img |img_url: '4000x'}}');
    {% else %}
      background: {{section.settings.bg_clr}};
    {% endif %}
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hz__newsletterBtn_{{ section.id }} {
     background: {{section.settings.bg_pri}};
    color: {{section.settings.label_pri}};
    border: 1px solid {{section.settings.borders_pri}};
    border-radius: {{section.settings.border_radius}}px;
    {% if section.settings.underline %}
      text-decoration: underline;
    {% endif %}
  }
  .hz__newsletterBtn_{{ section.id }}:hover {
    background: {{section.settings.bg_sec}};
    color: {{section.settings.label_sec}};
    border: 1px solid {{section.settings.borders_sec}}
  }
  @media only screen and (max-width: 768px){
    .hz__footer_{{ section.id }}{
      padding-top: {{section.settings.ptm}}px;
      padding-bottom: {{section.settings.pbm}}px;
      padding-left: {{section.settings.plrm}}px;
      padding-right: {{section.settings.plrm}}px;
    }
  }
</style>

<footer class="hz__footer hz__footer_{{ section.id }}">
  <div class="hz__footerInner {{ section.settings.content_width }}">
    <div class="hz__footer_blocks">
      <div class="hz__footer__block hz__footerBlock__navs">
        <div class="hz__fbMenus__blocks">
          {% if section.settings.menu %}
            <ul class="hz__footerMenu_list hz__footerMenu_listPri">
              <h4 class="hz__footerMenu__title" style="color: {{ section.settings.clr }}">
                {{ section.settings.menu_title | default: section.settings.menu.title }}
              </h4>
              {% for link in section.settings.menu.links %}
                <li class="hz__footerMenu__item">
                  <a href="{{ link.url }}" style="color: {{ section.settings.clr }}">
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if section.settings.policy_links %}
            <ul class="hz__footerMenu_list hz__footerMenu_listSec">
              <h4 class="hz__footerMenu__title" style="color: {{ section.settings.clr }}">
                {{ section.settings.policy_title | default: 'CONDITIONS' }}
              </h4>
              {% for link in shop.policies %}
                <li class="hz__footerMenu__item">
                  <a href="{{ link.url }}" style="color: {{ section.settings.clr }}">
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          <div class="hz__footerContact_block">
            <h4 class="hz__footerMenu__title" style="color: {{ section.settings.clr }}">
              {{ section.settings.contact_title }}
            </h4>
            <p class="hz__footerContact_text" style="color: {{ section.settings.clr }}">
              {{ section.settings.contact_text }}
            </p>
          </div>
        </div>
      </div>
      <div class="hz__footer__block hz__footerBlock__newsletter">
        {% if section.settings.newsletter %}
          <div class="hz__fbNewsletter_inner">
            <h2 class="hz__fbNewsletter__title hz__footerMenu__title" style="color: {{ section.settings.clr }}">
              {{ section.settings.news_title }}
            </h2>
            <p class="hz__fbNewsletter__text" style="color: {{ section.settings.clr }}">
              {{ section.settings.news_text }}
            </p>
            <div class="hz__fbNewsletter__wrapper">
              {%- form 'customer', id: 'hzContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <!--
                      <label class="field__label" for="NewsletterForm--{{ section.id }}">
                        {{ 'newsletter.label' | t }}
                      </label>
                    -->
                    <button
                      type="submit"
                      class="newsletter-form__button field__button hz__newsletterBtn_{{ section.id }}"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      <!--
                        <span class="svg-wrapper">
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span>
                      -->
                      {{ section.settings.label }}
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="hz__footer__bottom">
      {% if section.settings.social_icons %}
        <div class="hz__footer_socials">
          {% render 'social-icons' %}
        </div>
      {% endif %}
      {% if section.settings.copyright %}
        <p class="hz__footerCopright">
          <small class="copyright__content" style="color: {{ section.settings.clr }}"
            >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
          </small>
        </p>
      {% endif %}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content":  "Section Content Width"
    },
    {
      "type": "select",
      "label": "Content Width",
      "id": "content_width",
      "options": [
        {
          "label": "Large",
          "value": "hz__contentWidth_pri"
        },
        {
          "label": "Medium",
          "value": "hz__contentWidth_sec"
        },
        {
          "label": "Small",
          "value": "hz__contentWidth_ter"
        }
      ],
      "default":"hz__contentWidth_sec"
    },
    {
      "type": "header",
      "content": "Padding Controls - Desktop"
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "ptd",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 84
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "pbd",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 54
    },
    {
      "type": "range",
      "label": "Padding Left & Right",
      "id": "plrd",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "header",
      "content": "Padding Controls - Mobile"
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "ptm",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 22
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "pbm",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 14
    },
    {
      "type": "range",
      "label": "Padding Left & Right",
      "id": "plrm",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 15
    },
    {
     "type": "header",
     "content": "Section Background",
     },
     {
      "type": "image_picker",
      "label": "Background Image",
      "id": "bg_img"
    },
    {
      "type": "color_background",
      "label": "Background Color",
      "id": "bg_clr",
      "default":"#DDECF5"
    },
    {
      "type": "header",
      "content": "Footer Content"
    },
    {
      "type": "link_list",
      "label": "Footer Menu",
      "id": "menu",
    },
    {
      "type": "checkbox",
      "label": "Show Policy Links",
      "id": "policy_links",
      "default": true
    },
    {
      "type": "header",
      "content": "Contact Information",
    },
    {
      "type": "text",
      "label": "Title",
      "id": "contact_title",
      "default":"CONTACT US"
    },
    {
      "type": "inline_richtext",
      "label": "Text",
      "id": "contact_text",
      "default":"info@patcha.com"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "label": "Show Newsletter",
      "id": "newsletter",
      "default": true
    },
    {
      "type": "text",
      "label": "Title",
      "id": "news_title",
      "default":"subscribe to our news letter."
    },
    {
      "type": "inline_richtext",
      "label": "Text",
      "id": "news_text",
      "default":"-10% on your next order if you subscribe to the newsletter"
    },
    {
      "type": "header",
      "content": "Newsletter Button Controls"
    },
    {
      "type": "header",
      "content": "Section Button Controls"
    },
    {
      "type": "text",
      "label": "Button Label",
      "id": "label",
      "default":"Subscribe"
    },
    {
      "type": "header",
      "content": "Button Layout Controls"
    },
    {
      "type": "range",
      "label": "Rounded Corners",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "unit": "px",
      "step": 1,
      "default": 10
    },
    {
      "type": "checkbox",
      "label": "Underline",
      "id": "underline",
      "default":false
    },
    {
      "type": "header",
      "content": "Button Colors Controls - Default"
    },
    {
      "type": "color",
      "label": "Button Background",
      "id": "bg_pri",
      "default":"#fff"
    },
    {
      "type": "color",
      "label": "Button Label",
      "id": "label_pri",
      "default": "#000"
    },
    {
      "type": "color",
      "label": "Button Borders",
      "id": "borders_pri",
      "default":"#000"
    },
    {
      "type": "header",
      "content": "Button Colors Controls - On Hover"
    },
    {
      "type": "color",
      "label": "Button Background",
      "id": "bg_sec",
      "default":"transparent"
    },
    {
      "type": "color",
      "label": "Button Label",
      "id": "label_sec",
      "default": "#000"
    },
    {
      "type": "color",
      "label": "Button Borders",
      "id": "borders_sec",
      "default":"#000"
    },
    {
      "type": "checkbox",
      "label": "Show Social Icons",
      "id": "social_icons",
      "default": true
    },
    {
      "type": "checkbox",
      "label": "Show Copyright",
      "id": "copyright",
      "default": true
    },
    {
      "type": "header",
      "content": "Colors Controls"
    },
    {
      "type": "color",
      "label": "Primary Color",
      "id": "clr",
      "default":"#000"
    },
    {
      "type": "color",
      "label": "Primary Color",
      "id": "clr2",
      "default":"#CCC9C9"
    }
  ],
  "presets": [
    {
      "name": "HZ Footer",
      "category": "footer"
    }
  ]
}
{% endschema %}
