<style>
  .hz__iconRte_{{ section.id }}{
    padding-top: {{section.settings.ptd}}px;
    padding-bottom: {{section.settings.pbd}}px;
    padding-left: {{section.settings.plrd}}px;
    padding-right: {{section.settings.plrd}}px;
    {% if section.settings.bg_img != blank %}
      background: url('{{ section.settings.bg_img |img_url: '4000x'}}');
    {% else %}
      background: {{section.settings.bg_clr}};
    {% endif %}
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media only screen and (max-width: 1100px){
    .hz__iconRte_{{ section.id }}{
      padding: {{section.settings.ptd | times: 0.6 }}px {{section.settings.plrd}}px {{section.settings.pbd | times: 0.74 }}px;
    }
  }
  @media only screen and (max-width: 768px){
    .hz__iconRte_{{ section.id }}{
      padding-top: {{section.settings.ptm}}px;
      padding-bottom: {{section.settings.pbm}}px;
      padding-left: {{section.settings.plrm}}px;
      padding-right: {{section.settings.plrm}}px;
    }
  }
</style>

<section class="hz__iconRte hz__iconRte_{{ section.id }}">
  <div class="hz__iconRte__Inner">
    {% if section.settings.icon_svg != blank %}
      <div class="hz__iconRte__icon">
        {{ section.settings.icon_svg }}
      </div>
    {% elsif section.settings.icon_img != blank %}
      <div class="hz__iconRte__icon">
        <img src="{{ section.settings.icon_img | img_ur: '4000x' }}" alt="{{ section.settings.icon_img.alt }}">
      </div>
    {% endif %}
    {% if section.settings.title != blank %}
      <h2 class="hz__iconRte__title" style="color: {{ section.settings.clr }}">
        {{ section.settings.title }}
      </h2>
    {% endif %}
    {% if section.settings.text != blank %}
      <div class="hz__iconRte__text" style="color: {{ section.settings.clr }}">
        {{ section.settings.text }}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Icon with Rixhtext",
  "settings": [
    {
      "type": "header",
      "content": "Padding Controls - Desktop"
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "ptd",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 166
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "pbd",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 98
    },
    {
      "type": "range",
      "label": "Padding Left & Right",
      "id": "plrd",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "header",
      "content": "Padding Controls - Mobile"
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "ptm",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 72
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "pbm",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "label": "Padding Left & Right",
      "id": "plrm",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40
    },
    {
     "type": "header",
     "content": "Section Background",
     },
     {
      "type": "image_picker",
      "label": "Background Image",
      "id": "bg_img"
    },
    {
      "type": "color_background",
      "label": "Background Color",
      "id": "bg_clr",
      "default":"linear-gradient(90deg, #8DD2FF 2.31%, #9EFFE4 97.63%)"
    },
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "html",
      "label": "Paste Icon SVG",
      "id": "icon_svg"
    },
    {
      "type": "image_picker",
      "label": "Icon Image",
      "id": "icon_img"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default":"Add Title"
    },
    {
      "type": "richtext",
      "label": "Text",
      "id": "text",
      "default":"<p>Add Text Content</p>"
    },
    {
      "type": "color",
      "label": "Text Color",
    "id": "clr",
      "default":"#fff"
    }
  ],
  "presets": [
    {
      "name": "HZ Icon with Richtext",
      "category": "gradient richtext"
    }
  ]
}
{% endschema %}
