<style>
  .hz__richtext_{{ section.id }}{
    padding-top: {{section.settings.ptd}}px;
    padding-bottom: {{section.settings.pbd}}px;
    padding-left: {{section.settings.plrd}}px;
    padding-right: {{section.settings.plrd}}px;
    {% if section.settings.bg_img != blank %}
      background: url('{{ section.settings.bg_img |img_url: '4000x'}}');
    {% else %}
      background: {{section.settings.bg_clr}};
    {% endif %}
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media only screen and (max-width: 768px){
    .hz__richtext_{{ section.id }}{
      padding-top: {{section.settings.ptm}}px;
      padding-bottom: {{section.settings.pbm}}px;
      padding-left: {{section.settings.plrm}}px;
      padding-right: {{section.settings.plrm}}px;
    }
  }
  .hz__richtextInner{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 26px;
  }
  .hz__rteTitle{
  font-family: Chillax;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
    margin: 0;
    letter-spacing: normal;
  }
  .hz__rteText p{
    color: inherit;
  }
  .hz__rteText, .hz__rteText p{
  text-align: center;
  font-family: Chillax;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
    letter-spacing: normal;

    margin: 0;
  }
  @media only screen and (max-width: 992px){
    .hz__rteTitle{
      font-size: 44px;
    }
    .hz__rteText, .hz__rteText p{
      font-size: 18px;
    }
  }
  @media only screen and (max-width: 768px){
    .hz__rteTitle{
      font-size: 36px;
    }
    .hz__rteText, .hz__rteText p{
      font-size: 16px;
    }
    .hz__richtextInner{
      gap: 20px;
    }
  }
  @media only screen and (max-width: 600px){
    .hz__rteTitle{
      font-size: 24px;
    }
    .hz__rteText, .hz__rteText p{
      font-size: 12px;
    }
    .hz__richtextInner{
      gap: 13px;
    }
  }
</style>

<section class="hz__richtext hz__richtext_{{ section.id }}">
  <div class="hz__richtextInner">
    <h2 class="hz__rteTitle" style="color: {{ section.settings.clr }}">
      {{ section.settings.title }}
    </h2>
    <div class="hz__rteText" style="color: {{ section.settings.clr }}">
      {{ section.settings.text }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Richtext",
  "settings": [
    {
      "type": "header",
      "content": "Padding Controls - Desktop"
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "ptd",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 80
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "pbd",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 200
    },
    {
      "type": "range",
      "label": "Padding Left & Right",
      "id": "plrd",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 60
    },
    {
      "type": "header",
      "content": "Padding Controls - Mobile"
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "ptm",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 28
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "pbm",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 28
    },
    {
      "type": "range",
      "label": "Padding Left & Right",
      "id": "plrm",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 35
    },
    {
     "type": "header",
     "content": "Section Background",
     },
     {
      "type": "image_picker",
      "label": "Background Image",
      "id": "bg_img"
    },
    {
      "type": "color_background",
      "label": "Background Color",
      "id": "bg_clr",
      "default":"transparent"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default":"Add Tilte"
    },
    {
      "type": "richtext",
      "label": "Text",
      "id": "text",
      "default":"<p>Add Text</p>"
    },
    {
      "type": "color",
      "label": "Color",
      "id": "clr",
      "default":"#000"
    }
  ],
  "presets": [
    {
      "name": "HZ Richtext",
      "category": "richtext"
    }
  ]
}
{% endschema %}
