<style>
  .hz__textBlocks_{{ section.id }}{
    padding-top: {{section.settings.ptd}}px;
    padding-bottom: {{section.settings.pbd}}px;
    padding-left: {{section.settings.plrd}}px;
    padding-right: {{section.settings.plrd}}px;
    {% if section.settings.bg_img != blank %}
      background: url('{{ section.settings.bg_img |img_url: '4000x'}}');
    {% else %}
      background: {{section.settings.bg_clr}};
    {% endif %}
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media only screen and (max-width: 768px){
    .hz__textBlocks_{{ section.id }}{
      padding-top: {{section.settings.ptm}}px;
      padding-bottom: {{section.settings.pbm}}px;
      padding-left: {{section.settings.plrm}}px;
      padding-right: {{section.settings.plrm}}px;
    }
  }
</style>

<section class="hz__textBlocks hz__textBlocks_{{ section.id }}">
  <div class="hz__textBlocksInner {{ section.settings.content_width }}">
    <div class="hz__textBlocks__header">
      <h2 class="hz__txtBlocks__title" style="color: {{ section.settings.clr1 }}">
        {{ section.settings.title }}
      </h2>
    </div>
    <div class="hz__txtBlocks__body hz__txtBlocks__blocks">
      {% for block in section.blocks %}
        <div class="hz__txtBlock__item hz__txtBlock__item_{{ block.id }}" style="background: {{ section.settings.bg }}">
          <h4 class="hz__txtBlockItem__title" style="color: {{ section.settings.clr }}">{{ block.settings.title }}</h4>
          <p class="hz__txtBlockItem__text" style="color: {{ section.settings.clr }}">{{ block.settings.text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Text Blocks",
  "settings": [
    {
      "type": "header",
      "content":  "Section Content Width"
    },
    {
      "type": "select",
      "label": "Content Width",
      "id": "content_width",
      "options": [
        {
          "label": "Large",
          "value": "hz__contentWidth_pri"
        },
        {
          "label": "Medium",
          "value": "hz__contentWidth_sec"
        },
        {
          "label": "Small",
          "value": "hz__contentWidth_ter"
        }
      ],
      "default":"hz__contentWidth_sec"
    },
    {
      "type": "header",
      "content": "Padding Controls - Desktop"
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "ptd",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 44
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "pbd",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 44
    },
    {
      "type": "range",
      "label": "Padding Left & Right",
      "id": "plrd",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "header",
      "content": "Padding Controls - Mobile"
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "ptm",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 28
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "pbm",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 28
    },
    {
      "type": "range",
      "label": "Padding Left & Right",
      "id": "plrm",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50
    },
    {
     "type": "header",
     "content": "Section Background",
     },
     {
      "type": "image_picker",
      "label": "Background Image",
      "id": "bg_img"
    },
    {
      "type": "color_background",
      "label": "Background Color",
      "id": "bg_clr",
      "default":"transparent"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default":"Add Title"
    },
    {
      "type": "color",
      "label": "Title Color",
      "id": "clr1",
      "default":"#000"
    },
    {
      "type": "color",
      "label": "Text Color",
      "id": "clr",
      "default":"#fff"
    },
    {
      "type": "color",
      "label": "Block Background",
      "id": "bg",
      "default":"#fff"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text Block",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title",
          "default":"Block Title"
        },
        {
          "type": "inline_richtext",
          "label": "Text",
          "id": "text",
          "default":"Block Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "HZ Text Blocks",
      "category": "text"
    }
  ]
}
{% endschema %}
